<h1>
  <%= @user.username %>
</h1>

<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Posts", user_path(@user.username) %>
          <span class="badge rounded-pill bg-info text-dark"><%= @user.own_photos.count %></span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Liked photos", liked_photos_path(@user.username) %>
          <span class="badge rounded-pill bg-light text-dark"><%= @user.liked_photos.count %></span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Feed", feed_path(@user.username) %>
          <% if @user.feed.count > 99 %>
            <span class="badge rounded-pill bg-light text-dark">99+</span>
          <% else %>
            <span class="badge rounded-pill bg-light text-dark"><%= @user.feed.count %></span>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Followers", followers_path(@user.username) %>
          <span class="badge rounded-pill bg-light text-dark"><%= @user.leaders.count %></span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link active">
          <%= link_to "Following", following_path(@user.username) %>
          <span class="badge rounded-pill bg-light text-dark"><%= @user.leaders.count %></span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-6 offset-md-3">
  <ul class="list-group">
    <% @user.leaders.each do |leader| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to leader.username, user_path(leader.username) %>
        <span class="badge bg-primary rounded-pill"><%= leader.own_photos.count %> photos</span>
      </li>
    <% end %>
  </ul>
</div>
