<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <%= image_tag photo.image, class:"card-img-top" %>
      <div class="card-body">
        <div class="d-flex align-items-center" >
          <h5 class="card-title me-auto"><%= photo.owner.username %></h5>
          <span class="badge bg-primary rounded-pill m-0"><%= photo.likes.count %> likes</span>
        </div>
        <p class="card-text"><%= photo.caption %></p>
      </div>
      <ul class="list-group list-group-flush">
        <% photo.comments.each do |comment| %>
          <div class="card border-0">
            <div class="row card-body py-3 d-flex align-items-center justify-content-between">
              <h2 class="h5 mb-1 ms-1 d-flex align-items-center">
                <img class="rounded-circle me-2" width="36" src="..." />
                <%= link_to comment.author.username, user_path(comment.author.username), class: "text-dark me-2" %>
              </h2>
              <p class="card-text"><%= comment.body %></p>
            </div>
          </div>
        <% end %>
      </ul>
      <div class="card-body">
        <%= render "comments/form", comment: photo.comments.build %>
      </div>
    </div>
  </div>
</div>
